<template>
  <div id="app">
    <canvas ref="canvas" width="480" height="480"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Game, movesFromString } from './game'

@Component
export default class App extends Vue {
  game!: Game
  rows = 5
  cols = 5

  @Watch('rows')
  @Watch('cols')
  onBoardSizeChange() {
    this.game.setBoardSize(this.cols, this.rows)
    this.updateSize()
  }
  
  mounted() {
    this.game = new Game(this.$refs["canvas"] as any)
    this.onBoardSizeChange()
    this.updateSize()
    addEventListener("resize", this.updateSize.bind(this))
    window.app = this, window.game = this.game
  }

  setBoardSize(cols: number, rows: number) {
    this.cols = cols
    this.rows = rows
  }

  updateSize() {
    const { game } = this
    const maxSize = Math.max(game.rows, game.cols) * 64 + 240
    game.setCanvasSize(Math.min(maxSize, innerHeight - 32, innerWidth - 32))
    game.render()
  }

  async executeMoves(string: string, reverse = false, speed = 1) {
    const moves = movesFromString(string)
    if (reverse) moves.reverse()
    const transitionTime = this.game.transitionTime
    this.game.transitionTime = transitionTime / speed
    for (let move of moves) {
      if (reverse) move.n = -move.n
      await this.game.animatedMove(move.axis, move.index, move.n)
    }
    this.game.transitions.clear()
    this.game.transitionTime = transitionTime
  }
}
</script>

<style scoped>
#app {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

canvas {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
</style>
